.navbar{
    background-color: transparent;
    transition: 0.3s ease;
}

.navbar.colorChange{
    background-color: var(--background-color);
    box-shadow: 0px 0px 30px rgba(255,255,255,0.08);
}

.nav-link {
    color: var(--main-color) !important;
}
.active.nav-link {
    position: relative;
}
.active.nav-link {
   font-weight: 700;
    color: rgba(255, 255, 255, 0.4) !important;
}

.navbar-light .navbar-toggler {
    color: var(--main-color) !important;
    border-color: rgba(255, 255, 255, .0) !important;
}

.navbar-light .navbar-toggler-icon { 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;}

.g {
    gap: 20px;
}

@media (max-width:768px ) {
    .navbar-collapse {
        background-color: var(--background-color);
        padding:15px;
    }
}


.social {
    gap: 15px;
}

.social ul li{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid #fff;
}

.social ul li:hover {
    /*background:linear-gradient(45deg,#8099e9,#e99dcb,#fff);*/
    background-color: var(--main-color);
    transform: scale(1.2);
    border: 0;
}

.social ul li a {
    color: white;
    transition: 0.3s ease;
}

.social ul li:hover a {
    color: var(--background-color);
}

.btnContact {
    position: relative;
    border:1px solid #fff !important;
    color: #fff !important;
    transition: 0.3s ease;
}

.btnContact:hover {
    color: var(--background-color) !important;
}

.btnContact:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    /*background: linear-gradient(45deg,#e99dcb,#8099e9,#fff);*/
    transition: 0.3s ease;
    z-index: -1;
}

.btnContact:hover:after {
    width: 100%;
}